* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.display_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container1 {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #093613;
  opacity: 55%;
  font-size: 30px;
  margin-right: 200px;
}
.plug {
  position: fixed;
  margin: -80px 200px;
}
.container2 {
  color: #09813a;
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  margin-top: -30px;
}
.container3 {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  opacity: 53%;
  margin-top: -40px;
}
.buttoncontainer button {
  padding: 10px 100px 10px 100px;
  margin-top: 10px;
  border: 0;
  border-radius: 15px;
  background-color: #09812a;
}
.buttoncontainer a {
  font-family: "Passion One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font: 15px;
  color: white;
  text-decoration: none;
}
