:root {
  --size: minmax(170px, 200px);
  --border_val: 1px solid #09812a;
  --detail-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.Bpassion-font-style {
  font-family: "Passion One", sans-serif;
}

.Rpassion-font-style {
  font-family: "Passion One", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.Rinter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.Binter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.pages {
  padding: 0px 64px;
}

.head-nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 24px 80px;
  background-image: linear-gradient(#09812a, #09812b83, #ffffff00);
}
.left-head a,
span {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  margin-left: -16px;
}
.right_head {
  display: flex;
  gap: 24px;
}
.right_head .loginbtn {
  color: #09812a;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}
.contactbtn {
  color: #ffffff;
  background-color: #3b3b3b;
  border-radius: 12px;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

/*First Page: Introduction*/
#introduction {
  height: 100vh;
  background-color: #09812a;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.contents-fpage {
  margin-top: 144px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.contents-fpage .left-section {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 112px;
}
.contents-fpage .left-section h2 {
  color: white;
  padding: 8px;
  flex-wrap: wrap;
  font-size: 80px;
}
.contents-fpage .left-section p {
  padding: 8px;
  flex-wrap: wrap;
  font-size: 24px;
  margin-top: -8px;
  font-weight: 300;
}
.contents-fpage .left-section .loginbtn {
  color: white;
  background-color: #3b3b3b;
  border-radius: 12px;
  padding: 12px 44px;
  text-decoration: none;
  text-align: center;
  margin-top: 16px;
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.contents-fpage .right-section {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.contents-fpage .right-section #clearuns-logo {
  height: 80%;
}
.contents-fpage #arrow-right {
  color: #ffffff;
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  float: right;
}

/*Wave Design*/
.waves {
  margin-top: -105px;
  max-width: 100%;
  overflow: hidden;
  height: 105px;
}

/*Second Page: Overview*/
#overview {
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.overview-box {
  display: flex;
  box-shadow: 15px 20px #1818182f;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9c8;
  border-radius: 20px;
}
.overview-box .overview-left {
  width: 48%;
  padding: 96px 96px 96px 112px;
}
.overview-box .overview-left h2 {
  font-size: 60px;
}
.overview-box .overview-left p {
  width: 119%;
  text-align: left;
  font-size: 18px;
  color: black;
  font-weight: 300;
}
.overview-box .overview-right {
  overflow-x: scroll;
  display: flex;
  align-items: center;
}
.overview-cards {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cards {
  width: 384px;
  height: 256px;
  border-radius: 20px;
  background-color: #09812a;
}

/*Third Page: Users*/
#users {
  height: 60vh;
  margin-top: 152px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
#users h2 {
  font-size: 50px;
}
#users .user-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}
.user-box .user {
  border-radius: 20px;
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.user h3 {
  font-size: 40px;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #09812a;
}
#stud-icon,
#adviser-icon,
#faculty-icon {
  font-size: 100px;
}

/*Fourth Page: Features*/
#features {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-container {
  width: 80vw;
  display: grid;
  grid-template:
    "tl tl tr" var(--size)
    "ml mr mr" var(--size)
    "dl dl dr" var(--size)
    / 1fr 1fr 1fr;
  grid-gap: 3px;
}
.feature-box {
  border: var(--border_val);
  border-radius: 12px;
}
#feature1 {
  grid-area: tl;
  display: flex;
  justify-content: flex-end;
}
#feature1 h2 {
  align-self: flex-end;
  font-size: 3rem;
  padding: 24px;
}
#feature2 {
  grid-area: tr;
}
#feature3 {
  grid-area: ml;
}
#feature4 {
  grid-area: mr;
}
#feature5 {
  grid-area: dl;
}
#feature6 {
  grid-area: dr;
}

/*Fifth Page: Call to Action*/
#call-card {
  height: 40vh;
  background-image: url(../img/callbg.svg);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
#call-card h2 {
  font-size: 40px;
}
#call-card a {
  text-decoration: none;
  color: #09812a;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
}

/*6th Page: FAQS*/
#faqs {
  margin-top: 30px;
  margin-left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#faqs h2 {
  font-size: 40px;
}
.folder-container {
  display: flex;
  margin-top: 30px;
}

.folder-container .folder-bg {
  border: 1px solid;
  border-radius: 16px;
  width: 50%;
  height: 80vh;
  background-color: #3b3b3b;
  rotate: -2deg;
  z-index: -1;
}

.faq-list {
  margin-top: 30px;
  border: 1px solid;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.faq-item {
  background-color: #ffffff;
  margin: 5px;
  border-radius: 20px;
  color: #181818;
  padding: 25px;
  width: var(--detail-width);
  cursor: pointer;
}
details:nth-child(2) {
  width: calc(var(--detail-width) - 5%);
}
details:nth-child(3) {
  width: calc(var(--detail-width) - 10%);
}
details:nth-child(4) {
  width: calc(var(--detail-width) - 15%);
}
details:nth-child(5) {
  width: calc(var(--detail-width) - 20%);
}

.folder-container .folder-head {
  aspect-ratio: 1/4;
  height: 200px;
  background-color: #09813a;
  border-radius: 16px;
  z-index: -1;
  rotate: -2deg;
  margin-left: -25px;
  margin-top: -10px;
  z-index: -2;
}

#contact-us {
  height: 100vh;
}

footer {
  width: 100%;
  height: 30vh;
  background-color: #3b3b3b;
  color: white;
  padding-left: 112px;
  display: flex;
}
.left-footer{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  align-items: center;
}
.left-footer #copyright-icon{
  color: white;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  font-size: 14px;
  padding: 3px;
}
.left-footer h2{
  font-size: 1.5rem;
}
.left-footer h3{
  font-size: 1rem;
  font-weight: 200;
}

.middle-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.middle-footer a{
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.right-footer{
  display: flex;
  flex-direction: column;
  width: 30%;
}


@media screen and (max-width: 481px) {
  .pages {
    padding: 0px 72px;
  }
  .head-nav {
    padding: 24px 40px;
    gap: 10px;
  }
  .left-head {
    display: flex;
    align-items: center;
  }
  .left-head h1 {
    margin-left: -20px;
  }
  .left-head img {
    display: block;
  }
  .left-head a {
    font-size-adjust: auto;
    margin-left: 6px;
    font-size: 2rem;
  }
  .left-head span {
    display: none;
  }
  .right_head {
    gap: 8px;
  }
  .right_head .loginbtn,
  .contactbtn {
    padding: 6px 20px;
    font-size: 13px;
  }
  #introduction {
    height: 90vh;
  }
  .contents-fpage {
    margin-top: 94px;
  }
  .contents-fpage .left-section {
    width: 100vw;
    padding: 0;
  }
  .contents-fpage .left-section h2 {
    text-align: center;
    font-size-adjust: auto;
    font-size: 4rem;
    width: auto;
  }
  .contents-fpage .left-section p {
    text-align: center;
    text-size-adjust: auto;
    font-size: 1rem;
    width: auto;
  }
  .contents-fpage .right-section {
    display: none;
  }

  .feature_card {
    justify-content: center;
  }
  #overview h2 {
    font-size: 2rem;
  }
  
}

