@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Bpassion-font-style {
  font-family: "Passion One", sans-serif;
}

.Rpassion-font-style {
  font-family: "Passion One", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.Rinter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.Binter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.pages {
  height: 100vh;
  padding: 0px 60px;
}

.pages h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin: 20px 0px;
}

#introduction {
  background-color: #09812a;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid;
  width: 100%;
}

.contents_fpage {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  color: white;
}

.left-head .logo {
  font-weight: 700;
  color: white;
  font-size: 50px;
}

.contents_fpage #clearuns-logo {
  width: 30%;
}

.contents_fpage .right_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contents_fpage .right_section h2 {
  color: white;
  text-align: end;
  font-size: 50px;
}

.contents_fpage .right_section .loginbtn {
  background-color: #3b3b3b;
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  text-align: center;
}

.contents_fpage .right_section a {
  text-decoration: none;
  font-family: "Passion One", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  font-size: 20px;
}


.waves {
  margin-top: -105px;
  max-width: 100%;
  overflow: hidden;
  height: 105px;
  z-index: -1;
}


#overview {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

.overview_box {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #c6c6c6;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.overview_box p {
  text-justify: inter-word;
  color: black;
}

#features {
  display: flex;
  flex-direction: column;
}

.feature_card {
  display: flex;
  flex-wrap: wrap;
  overflow-y:auto;
  gap: 10px;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.cards {
  width: 190px;
  height: 290px;
  border-radius: 20px;
  background-color: #09812a;
}

#faq{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.question-list{
  display: flex;
  flex-direction: column;
}

.q-card{
  background-color: #3b3b3b;
  margin: 5px;
  border-radius: 70px;
  color: white;
  padding: 25px;
  width: 100%;
}

footer {
  width: 100%;
  height: 30vh;
  padding: 20px 60px 0px 60px;
  background-color: #3b3b3b;
  color: white;
  font-family: "Passion One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 481px) {
  .contents_fpage #clearuns-logo {
    display: none;
  }

  .contents_fpage .right_section {
    justify-content: center;
    align-items: stretch;
  }

  .contents_fpage .right_section h2 {
    text-align: center;
  }

  .feature_card{
    justify-content: center;
  }
}